.navbar-nav a{
  font-size: 18px;
}
.register{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.login-form{
  margin-top: 10rem;
}
.form-control{
  max-width: 35rem;
}